/* GENERAL SETTINGS */

* {
    box-sizing: border-box;
    font-family: 'Lato', serif-sans;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    height: 100%;
    color: rgba(219,229,255,1);
    background: #091834;
    background: -moz-linear-gradient(top, #091834 0%, #0A337F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #091834), color-stop(100%, #0A337F));
    background: -webkit-linear-gradient(top, #091834 0%, #00659b 100%);
    background: -o-linear-gradient(top, #091834 0%, #0A337F 100%);
    background: -ms-linear-gradient(top, #091834 0%, #0A337F 100%);
    background: linear-gradient(to bottom, #091834 0%, #0A337F 100%);
}

h1 {
    font-weight: 100;
    text-align: center;
    margin: 60px auto;
}

p {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 10px;
}

table, th, td, tr {
    border: 1px solid rgba(219,229,255,0.7);
    border-collapse: collapse;
    text-align: center;
    padding: 16px;
    color: rgba(219,229,255,0.7);

}

th {
    border: 2px solid rgba(219,229,255,1);
    color: rgba(219,229,255,1);
}

form {
    border: 2px solid rgba(219,229,255,0.8);
    padding: 0px 20px;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type="date"] {
    background-image: url(https://image.ibb.co/ge9Sbz/115762_24.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* HEADER */

.header {
    text-align: center; /* center the text */
}

/* NAVIGATION BAR */

.navbar {
    display: flex;
    width: 300px;
    margin: auto;
    border-top: 1px solid rgba(219,229,255,1);
}

.navbar a {
    width: 100px;/* Make sure that the links stay side-by-side */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    border-bottom: 1px solid transparent;
    color: rgba(219,229,255,1);
}

.navbar a:hover {
    border-bottom: 1px solid rgba(219,229,255,0.5);
    color: rgba(219,229,255,0.8);

     /* Grey background color */ 
}

/* TABLE */

.table-container {
    width: 780px;
    margin: 30px auto;
}

.table-container table {
    width: 100%;
}

.table-container a {
    color: rgba(219,229,255,0.7);
    text-align: center;
    text-decoration: none;
}

.table-container a:hover {
    color: rgba(219,229,255,1);
    border-bottom: 1px solid rgba(219,229,255, 0.7);
    padding-bottom: 5px;


}

/* FORMS */

.form-container {
    width: 540px;
    margin: 30px auto;
}

.input-container {
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

.input-container label{
    color: rgba(219,229,255,1);
    display: block;
    text-transform: uppercase;
}

.file {
    height: 107px; 
}

.submit {
    height: 40px;
    margin-bottom: 10px;
}

.input-num{
    width: 100%;
    height: 50%;
    padding: 0px 12px;
    border: 0px solid #fff;
    border-bottom: 2px solid rgba(219,229,255,0.8);
    background: inherit;
    color: rgba(219,229,255,0.8);
    font-size: 16px;
    margin-top: 10px;
}

.input-num:hover {
    opacity: 0.6;
}

.input-num:focus {
    outline: none;
}

.file-upload {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 80px;
     border: 2px dashed rgba(219,229,255,0.8);
     text-align: center;
     margin-top: 10px;
}

.file-upload:hover {
     opacity: 0.6;
}

.file-upload input[type="file"]{
    display: none;
}

.file-label {
     position: absolute;
     font-size: 12px;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
     text-transform: none;
}

.file-label:hover {
    opacity: 0.6;
}
.file-upload span {
     line-height: 78px;
     font-size: 14px;
 }

 .input-date {
    display: block;
    border: 0px solid rgba(219,229,255,0.8);
    border-bottom: 2px solid rgba(219,229,255,0.8);
    padding: 0 12px;
    color: rgba(219,229,255,0.8);
    width: 65%;
    height: 50%;
    background-color: inherit;
}

.input-date:hover {
    opacity: 0.6;
}

.input-date:focus {
    outline: none;
}

.form-submit {
    float: right;
    width: 25%;
    height: 40px;
    background: inherit;
    color: rgba(219,229,255,0.8);
    text-transform: uppercase;
    font-size: 14px ;
    font-weight: 500;
    border: 2px solid rgba(219,229,255,1);
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    opacity: 0.6;
}

.error {
    float: right;
    color: #F00038;
    font-size: 14px;
    font-weight: bold;
}