{% extends "base.html" %}

{% block content %}

    <div class="form-container">
    <p>Add car</p>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}

        <div class="input-container">
            <label for="vin">VIN</label>
            {{ form.vin(class="input-num") }}
            {% for error in form.vin.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="input-container file">
            <label for="scan">Image</label>
            <div class="file-upload">
                <label class="file-label">
                    {{ form.scan(class="input-file") }}
                    <span>Upload file</span>
                </label>
            </div>
            {% for error in form.scan.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="input-container">
            <label for="date_from">Date from</label>
            {{ form.date_from(class="input-date") }}
            {% for error in form.date_from.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="input-container">
            <label for="date_to">Date to</label>
            {{ form.date_to(class="input-date") }}
            {% for error in form.date_to.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="input-container submit">
            {{ form.submit(class="form-submit") }}
        </div>
    </form>
    </div>
{% endblock %}