<html>
    <head>
      <title>Cars database</title>
      <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
          <h1><strong>Cars</strong> database</h1>
        </div>
        <div class="navbar">
          <a href="/">Home</a>
          <a href="/add">Add</a>
          <a href="/search">Search</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>