{% extends "base.html" %}

{% block content %}
    <div class="table-container">
        {% if date_from and date_to %}
            <p>Cars for the period<br>From {{ date_from }} to {{ date_to}}</p> 
        {% else %}
            <p>All cars in database</p>
        {% endif %}
        <table>
            <tr>
                <th>id</th>
                <th>vin</th>
                <th>hashed_name</th>
                <th>date_from</th>
                <th>date_to</th>
            </tr>
            {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.vin }}</td>
                <td><a href="{{ uploads_url + car.hashed_name }}">{{ car.hashed_name }}</a></td>
                <td>{{ car.date_from }}</td>
                <td>{{ car.date_to }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}