{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <p>Search car</p>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}

        <div class="input-container">
            <label for="date_from">Date from</label>
            {{ form.date_from(class="input-date") }}
                {% for error in form.date_from.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
        </div>

        <div class="input-container">
            <label for="date_from">Date to</label>
            {{ form.date_to(class="input-date") }}
                {% for error in form.date_to.errors %}
                    <span class="error"">{{ error }}</span>
                {% endfor %}
        </div>

        <div class="input-container submit">
            {{ form.submit(class="form-submit") }}
        </div>
    </form>
</div>
{% endblock %}
